<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DAO 파일을 대신하는 파일 -->
<mapper namespace="org.jaeu.mapper.BoardMapper">

	<select id="getWithPaging" resultType="org.jaeu.domain.BoardVO">
		<![CDATA[
			select 
				bno, title, detail, createDate, changeDate
			from 
			(
			select
			 	/*+INDEX_DESC(boardExam pk_board)*/ ROWNUM rn, BNO, title, detail, createDate, changeDate
			 from 
			 	boardExam where ROWNUM <= #{pageNum} * #{amount}
			 ) 
			 where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
</mapper>