<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- DAO 파일을 대신하는 파일 -->

<mapper namespace="com.jaeu.mapper.BoardMapper">
	<select id="getList" resultType="com.jaeu.domain.BoardVO">
		select * from BoardExam
	</select>
	
</mapper>